body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.cartao {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #000000;
    
    width: 260px;          
    padding: 25px 15px;   
}

h2 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
}

.imagem-cartao {
    width: 100%;          
    max-width: 200px;    
    height: auto;        
    border-radius: 8px;   
    margin: 10px 0;      
}

p {
    color: #000000;
    font-size: 14px;
    line-height: 1.4;
}

.destaque {
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
}